@media only screen and (max-width: 768px) {
    .seznam-navigace {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    .seznam-navigace-videno {
      display: none !important;
    }
  }

  .caraPod {
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
  }
  .caraPod:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .caraPod:hover:after { 
    width: 100%; 
    left: 0; 
  }
  
  .seznam-navigace-videno.opened{
    right: 0%;
  }

  .seznam-navigace-videno{
    right: 100%;
    transition: right 1s ease;
  }

  #main > * {
    grid-column: 1;
    grid-row: 1;
  }

#main > *:hover{
  font-size: 2.5rem;
}

.rucka{
  animation: rucka 1s infinite linear;
  transform-origin: 70% 70%;
}

@keyframes rucka {
  0%{transform: rotate(0);}
  25%{transform: rotate(28deg);}
  50%{transform: rotate(14deg);}
  75%{transform: rotate(35deg);}
  100%{transform: rotate(0);}
}

.anchor{
  display: block;
  top: -95px;
  position: relative;
  visibility: hidden;
}

.vyska {
  height: 100vh;
  height: calc(100vh - 84px);
}
